set surround
set ignorecase
set incsearch
set smartcase
set hlsearch
set clipboard+=unnamed

inoremap jk <Esc>

nnoremap H ^
nnoremap L $
nnoremap ^ H
nnoremap $ L
nnoremap [ %
nnoremap ] %
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>
nnoremap gd :action GotoDeclaration<CR>
nnoremap <Space>f :action FindInPath<CR>
nnoremap <Space>e :action SearchEverywhere<CR>

vnoremap == :action ReformatCode<CR>
vnoremap < <gv
vnoremap > >gv
vnoremap H ^
vnoremap L $
vnoremap ^ H
vnoremap $ L
