set ignorecase
set incsearch
set smartcase
set hlsearch
set clipboard+=unnamed

inoremap jk <Esc>
inoremap H ^
inoremap L $
inoremap ^ H
inoremap $ L

nnoremap <Esc><Esc> :nohlsearch<CR><ESC>
nnoremap gd :action GotoDeclaration<CR>
nnoremap <Space>f :action FindInPath<CR>
nnoremap <Space>e :action SearchEverywhere<CR>

vnoremap == :action ReformatCode<CR>
vnoremap < <gv
vnoremap > >gv
